# Задание

In [ ]:
import pandas as pd
dataset = pd.read_csv("/content/kaggle_survey_2022_responses.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [ ]:
print(dataset.describe()["Q2"].iloc[2])

KeyError: ignored

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [ ]:
print("%.2f" % (
        dataset[
            (
                dataset["Q4"].str.contains("Russia")
            ) &
            (
                dataset["Q3"].str.contains("Woman")
            ) &
            (
                dataset["Q5"].str.contains("No")
            )
            ].describe()["Q2"].iloc[0] /

        dataset[
            (
                dataset["Q4"].str.contains("Russia")
            ) &
            (
                dataset["Q5"].str.contains("No")
            )

            ].describe()["Q2"].iloc[0]
)
      )

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [ ]:
print("%.2f" % (dataset['Duration (in seconds)'][1:].astype(int).mean() / 60))

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [ ]:
print(
    [dataset[[column for column in dataset.columns if column.startswith("Q6")]].melt()["value"].value_counts().index[i]
     for i in range(3)]
)

,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,Q6_7,Q6_8,Q6_9,Q6_10,Q6_11,Q6_12
0,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [ ]:
print([i for _, i in
       dataset[(dataset["Q23"] == "Data Scientist")].loc[:,
       [col for col in dataset.columns if col.startswith("Q12")]].melt().dropna().value_counts().head(
           5).index.tolist()]

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [ ]:
import re
import math
def get_salary(name_position):
    temp = [
        element for element in
        [
            str_number.split("-") for str_number in
            dataset[(dataset["Q23"] == name_position)].loc[:, "Q29"].dropna().values
        ]
    ]
    result = []
    for i in temp:
        m_list = []
        for j in i:
            j = j.replace(",", ".")
            j = re.sub('[^\d\,]', "", j)
            m_list.append(float(j))
        result.append(sum(m_list) / len(m_list))

    return sum(result) / len(result)


print(math.ceil(get_salary("Data Scientist")))
print(math.ceil(get_salary("Machine Learning/ MLops Engineer")))

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [ ]:
Data Scientis its number one